.title {
  font-size: 30px;
  color: red;
  font-weight: bold;
  margin: 15px 0 15px 0;
}

.card {
  box-shadow: 2px 2px 4px #d3d3d3;
  border-radius: 0 !important;
  min-height: 150px;
  margin-bottom: 5px;

  &__title {
    padding-top: 5px;
    padding-left: 7px;
    color: gray;
    font-weight: bold;
    font-size: 15px;
    min-height: 49px;
  }

  &__text {
    font-size: 28px;
    padding-left: 5px;
  }

  &__textRed {
    @extend .card__text;
    color: red;
  }

  &__textGreen {
    @extend .card__text;
    color: green;
  }

  &__totalText {
    @extend .card__text;
    font-size: 12px;
    color: #808080;
  }
}

.liveCasesByCountry {
  display: flex;
  justify-content: space-between;
  border-radius: 2px;
  padding: 2px 2px 2px 2px;

  &__card {
    @extend .card;
    margin-top: 25px;
  }

  &__title {
    margin-bottom: 20px;
    font-size: 23px;
    font-weight: bold;
    color: gray;
    padding: 2px 2px 2px 2px;
  }

  &__row__Odd {
    @extend .liveCasesByCountry;
    background-color: #d5e1df;
  }

  &__row__Even {
    @extend .liveCasesByCountry;
  }
}

.totalConfirmedGraph {
    // display: flex;
    &__card {
        @extend .card;
        // align-items: baseline;
  }
}
